<footer class="site-footer">
	
	    <div class="row">
	        <div class="col-2"> 
	        	<h3>Seguici</h3> 
	        	<ul>
	        		<li><a href="https://www.facebook.com/bagni.giovanni.5">Facebook</a></li>
	        		<li><a href="https://www.tripadvisor.it/Restaurant_Review-g1092804-d2248696-Reviews-Bagni_Giovanni_Ristorante-Cavi_Lavagna_Italian_Riviera_Liguria.html">TripAdvisor</a></li>
	        		<li></li>
	        	</ul>
	        	<h3>Pagamenti accettati</h3>
        		<div class="icon-bancomat"></div>
        	</div>
        	<div class="col-2"> 
	        	<h3>Lingue</h3> 
	        	<div class="icon-flags"></div>
	        	<br>
	        	<h3>Bagni Giovanni</h3>
	        	<div>
	        		Via Lungomare Cavi di Lavagna (GE)
	        	</div>
				<div>
					<a href="tel:00390185393817">Telefono: 0185 393817</a>
				</div>
				<div>
					{{ site.version }}
				</div>
        	</div>
	        <div class="col-2"> 
	        	<h3>Vicino a noi</h3> 
	        	<ul>
	        		<li><a href="http://doriahotelcavi.com">Doria Hotel</a></li>
	        		<li><a href="http://www.bba2passidalmar.it">B&B A due passi dal mar</a></li>
	        		<li><a href="http://www.hotelscoglieradicavi.it">Hotel Scogliera</a></li>
	        		<li><a href="http://www.pinetadelborgo.com">Hotel Pineta</a></li>
	        		<li><a href="http://www.hotelgenovasestrilevante.com ">Hotel Genova</a></li>
	        	</ul>
        	</div>
	    </div>
</footer>
<link rel="stylesheet" href="{{ '/css/main.css' }}" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' }}" />
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="feed.xml" />
{% include slider.html %}