<div id="pure-slider">
    <!-- <div class="ps-item">
        <a href='images/avviso-08-2022.jpeg' target="_blank"></a>
        <img src="images/avviso-08-2022.jpeg">
    </div> -->
    <div class="ps-item">
        <img src="images/gallery/1.jpeg">
    </div>
    <!-- <div class="ps-item">
        <a href='images/menu-pasqua-2019.jpg' target="_blank">
        <img src="images/gallery/menu-pasqua.png">
        </a>
    </div> -->
    <!-- <div class="ps-item">
        <a href='images/zeuggia-08-2020.jpg' target="_blank">
            <img src="images/gallery/zeuggia.png">
        </a>
    </div> -->
    <div class="ps-item">
        <img src="images/gallery/2.png">
    </div>
    <div class="ps-item">
        <img src="images/gallery/3.png">
    </div>
    <div class="ps-item">
        <img src="images/gallery/4.png">
    </div>
    <div class="ps-item">
        <img src="images/gallery/5.png">
    </div>
</div>