
<table class="tariffe" style="font-size: 16px; color: #333; font-weight: 500;">
  <tr><th class='title'>Stagione (1/5-15/9)</th></tr>
  <tr><td>Cabina (max 4 persone)</td> <td>1.200,00 €</td> <td></td></tr>
  <tr><td>Cabina, lettino, sdraio e ombrellone</td> <td>2.350,00 €</td> <td></td></tr>
  <tr><td>Cabina, 2 lettini e ombrellone</td> <td>2.350,00 €</td> <td></td></tr>
  <tr><td>Cabina, 2 sdraio e ombrellone</td> <td>1.850,00 €</td> <td></td></tr>
  <tr><td>lettino, sdraio e ombrellone</td> <td>1.750,00 €</td> <td></td></tr>
  <tr><td>2 lettini e ombrellone</td> <td>1.850,00 €</td> <td></td></tr>
  <tr><td>2 sdraio e ombrellone</td> <td>1.550,00 €</td> <td></td></tr>
  <tr><td>lettino</td> <td>1.000,00 €</td> <td></td></tr>
</table> 
<table class="tariffe" style="font-size: 16px; color: #333; font-weight: 500;">
  <tr><th class='title'>Mese</th>,<th class='title'>Bassa Stagione</th>,<th class='title'>Alta Stagione</th></tr>
  <tr><td>Cabina (max 4 persone)</td> <td>220,00 €</td> <td>750,00 €</td></tr>
  <tr><td>Cabina, lettino, sdraio e ombrellone</td> <td>320,00 €</td> <td>1.100,00 €</td></tr>
  <tr><td>Cabina, 2 lettini e ombrellone</td> <td>380,00 €</td> <td>1.300,00 €</td></tr>
  <tr><td>Cabina, 2 sdraio e ombrellone</td> <td>270,00 €</td> <td>1.000,00 €</td></tr>
  <tr><td>lettino, sdraio e ombrellone</td> <td>220,00 €</td> <td>900,00 €</td></tr>
  <tr><td>2 lettini e ombrellone</td> <td>270,00 €</td> <td>1.000,00 €</td></tr>
  <tr><td>2 sdraio e ombrellone</td> <td>170,00 €</td> <td>750,00 €</td></tr>
  <tr><td>lettino</td> <td>180,00 €</td> <td>450,00 €</td></tr>
</table> 
<table class="tariffe" style="font-size: 16px; color: #333; font-weight: 500;">
  <tr><th class='title'>14 Giorni</th>,<th class='title'>Bassa Stagione</th>,<th class='title'>Alta Stagione</th></tr>
  <tr><td>Cabina (max 4 persone)</td> <td>150,00 €</td> <td>450,00 €</td></tr>
  <tr><td>Cabina, lettino, sdraio e ombrellone</td> <td>240,00 €</td> <td>650,00 €</td></tr>
  <tr><td>Cabina, 2 lettini e ombrellone</td> <td>280,00 €</td> <td>750,00 €</td></tr>
  <tr><td>Cabina, 2 sdraio e ombrellone</td> <td>220,00 €</td> <td>550,00 €</td></tr>
  <tr><td>lettino, sdraio e ombrellone</td> <td>200,00 €</td> <td>500,00 €</td></tr>
  <tr><td>2 lettini e ombrellone</td> <td>240,00 €</td> <td>580,00 €</td></tr>
  <tr><td>2 sdraio e ombrellone</td> <td>140,00 €</td> <td>400,00 €</td></tr>
  <tr><td>lettino</td> <td>150,00 €</td> <td>200,00 €</td></tr>
</table> 
<table class="tariffe" style="font-size: 16px; color: #333; font-weight: 500;">
  <tr><th class='title'>7 Giorni</th>,<th class='title'>Bassa Stagione</th>,<th class='title'>Alta Stagione</th></tr>
  <tr><td>Cabina (max 4 persone)</td> <td>80,00 €</td> <td>250,00 €</td></tr>
  <tr><td>Cabina, lettino, sdraio e ombrellone</td> <td>130,00 €</td> <td>400,00 €</td></tr>
  <tr><td>Cabina, 2 lettini e ombrellone</td> <td>150,00 €</td> <td>450,00 €</td></tr>
  <tr><td>Cabina, 2 sdraio e ombrellone</td> <td>120,00 €</td> <td>300,00 €</td></tr>
  <tr><td>lettino, sdraio e ombrellone</td> <td>110,00 €</td> <td>300,00 €</td></tr>
  <tr><td>2 lettini e ombrellone</td> <td>130,00 €</td> <td>350,00 €</td></tr>
  <tr><td>2 sdraio e ombrellone</td> <td>80,00 €</td> <td>250,00 €</td></tr>
  <tr><td>lettino</td> <td>100,00 €</td> <td>150,00 €</td></tr>
</table> 
<table class="tariffe" style="font-size: 16px; color: #333; font-weight: 500;">
  <tr><th class='title'>Giornata</th></tr>
  <tr><td>Ingresso ospiti</td> <td>10,00 €</td> <td></td></tr>
  <tr><td>Cabina per 1 persona</td> <td>18,00 €</td> <td></td></tr>
  <tr><td>Cabina per 2 persone</td> <td>24,00 €</td> <td></td></tr>
  <tr><td>Cabina per 3 persone</td> <td>30,00 €</td> <td></td></tr>
  <tr><td>Cabina per 4 persone</td> <td>36,00 €</td> <td></td></tr>
  <tr><td>Lettino, sdraio e ombrellone</td> <td>35,00 €</td> <td>10,00 €</td></tr>
  <tr><td>2 lettini e ombrellone</td> <td>40,00 €</td> <td>10,00 €</td></tr>
  <tr><td>2 sdraio e ombrellone</td> <td>30,00 €</td> <td>10,00 €</td></tr>
  <tr><td>Lettino</td> <td>16,00 €</td> <td>10,00 €</td></tr>
</table>
